.block-reviews {

  .card {

    .review-rating {
      display: flex;

      span {
        position: relative;
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        background: #E7FAF3 url('data:image/svg+xml,<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.6084 0L9.82788 4.94515L15.2169 5.52786L11.1996 9.16685L12.3107 14.4721L7.6084 11.776L2.90612 14.4721L4.01721 9.16685L-5.38826e-05 5.52786L5.38892 4.94515L7.6084 0Z" fill="%2300B67A"/></svg>');
        background-size: 1rem auto;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: $border-radius-sm;

        &:not(:last-child) {
          margin-right: 0.25rem;
        }
      }

      &[data-rating="1"] {
        
        span:nth-child(5), span:nth-child(4), span:nth-child(3), span:nth-child(2) {
          opacity: 0.4;
          filter: grayscale(70%);
        }
      }

      &[data-rating="2"] {
        
        span:nth-child(5), span:nth-child(4), span:nth-child(3) {
          opacity: 0.4;
          filter: grayscale(70%);
        }
      }

      &[data-rating="3"] {
        
        span:nth-child(5), span:nth-child(4) {
          opacity: 0.4;
          filter: grayscale(70%);
        }
      }

      &[data-rating="4"] {
        
        span:nth-child(5) {
          opacity: 0.4;
          filter: grayscale(70%);
        }
      }
    }
  }
}