.floating-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.content {
  position: relative;
  z-index: 5;

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, {

    &:not(:first-child) {
      margin-top: 2.25rem;
    }
  }
}

blockquote {
  padding: 0 2.25rem;
  border-left: 2px solid $dark;
  margin: 3rem 0 3rem 1.5rem;

  strong,
  b {
    color: $dark;
  }
}
