// Fixing CF7 Floating Labels
.form-floating {

  > .form-control,
  > .form-select,
  > .wpcf7-form-control-wrap > .form-control,
  > .wpcf7-form-control-wrap > .form-select {
    height: $form-floating-height;
    line-height: $form-floating-line-height;
  }

  > .form-control,
  > .wpcf7-form-control-wrap > .form-control {
    padding: $form-floating-padding-y $form-floating-padding-x;

    &::placeholder {
      color: transparent;
    }

    &:focus,
    &:not(:placeholder-shown) {
      padding-top: $form-floating-input-padding-t;
      padding-bottom: $form-floating-input-padding-b;
    }

    &:-webkit-autofill {
      padding-top: $form-floating-input-padding-t;
      padding-bottom: $form-floating-input-padding-b;
    }
  }

  label.focused {
    opacity: $form-floating-label-opacity;
    transform: $form-floating-label-transform;
  }
}
